body {
    background-color: rgb(168, 168, 168);
    margin: 0px;   /* --- only the first level child of body inherit this  --- */
    font-family: Arial, Helvetica, serif;
    font-size: 14px;
}

.base {
    background-color: rgb(176, 220, 180);
    margin:  10px 15px;
    border-radius: 8px;
}
#header {                  /* --- Center horizontally &  Vertically  --- */ 
  box-sizing: border-box;  /* --- set width/height including the padding & border --- */
                           /* --- height: 83px;  --- */
  text-align: center;      /* --- Center horizontally  --- */
  padding: 25px 0px;       /* --- Center Vertically - Using padding --- */
}

#nav-bar2 ul {             /* 設定#nav-bar2 之 UL 使用相同的 base class, 但取消了 height 限定  */
  background-color: rgb(35, 4, 70);
  padding: 10px 0px;
  list-style-type: none; 
  text-align: center; 
}
      #nav-bar2 ul li {
          display:inline ;
          /* ----  display:inline-block ;
                       border-width: 2px ;
                       border-style:solid ;
                       border-color: yellowgreen ;
                   border: 2px solid yellowgreen ;
             ----
          */
      }
      #nav-bar2 ul li a {
        color: rgb(243, 243, 167) ;
        text-decoration: none;
        padding: 2px 15px ;
        font-size: 120%;
        font-weight: bold;
      }
      #nav-bar2 ul li a:hover{
        background-color: white;
        color: black ;
        border: 1px solid black ;
        border-radius: 5px;
      }

.main {
  background-color: white;
  font-size: 110%;
  border-radius: 8px;
  padding: 20px;
  margin: 30px;
}

#footer {
  text-align: center;
  clear:both;
}

h2 {
   margin:  5px;
   color: rgb(180,0,0);
   font-size: 200%;
}
    h2.hd {                    /* --- h2, h3 <tag> is a block element by defualt ---*/
       display: inline;        /* --- display: inline-block ; ---*/
    }

h3 {                  
   margin:  5px;
   color: rgb(180,0,0);
   font-size: 130%;
}
    h3.hd {                   /* --- Left and Right Align - Using position --- */
       position: absolute;    /* ---                                       --- */
       right: 15px;      
       display: inline ;      /*  --- h2, h3 <tag> is a block element by defualt---*/ 
       padding-top: 8px;     /* --- Center Vertically - Using padding --- */                        
    }
    h3.hd_float {             /* --- Left and Right Align - Using position --- */
        float:right;          /* ---                                       --- */
        display: inline ;
        padding-top: 8px;
    }
    
.button {
    background-color: rgb(176, 220, 180);
    display: inline-block;
    border: none;
    text-decoration: none;
    margin: 8px;
    padding:  8px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 100%;
    filter: drop-shadow( 4px 4px 6px black); 
}
   #construction a.button {
       margin-top:  20px ;
       margin-bottom:  10px ;
       font-size: 130%;
   }

iframe {
  height: 600px ;
  width: 100%;
}

ul.sidebar{
  list-style-type: circle ;
  padding-inline-start: 20px;
}
ul.sidebar li {
  padding: 5px 5px ;
}
 /* ---  text-overflow: ellipsis
   li {
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis ;
    }
    ---
 
   .sidebar li:hover {
       display: inline-block;
    }
    */
   .sidebar li a:hover {
       color:  red;
       font-weight: bold;
       filter: drop-shadow( 3px 3px 5px black); 
       background-color: rgb(176, 220, 180);
       /* 
       font-weight: bold;
       font-size: large; 
       filter: drop-shadow( 3px 3px 5px black); 
       background-color: rgb(176, 220, 180);
       */
    }

img {           /* --- width: 80%; centerize the image and keep it RWD --- */
    max-width: 100%;
    display: block;
    margin: auto;
    height: auto;
}
video {           /* --- width: 80%; centerize the image and keep it RWD --- */
  max-width: 100%;
  display: block;
  margin: auto;
  height: auto;
}
    figcaption {
        color:  rgb(26, 179, 26);
        font-weight: bold;
        font-size: 120% ;
    }

    img.float_right {
        float: right; 
        padding: 20px;
    }

      /* --- If an element is taller than the element containing it, and it is floated, 
              it will overflow outside of its container. 
         --- 
      */
    .clearfix::after {
          content: "";
          clear: both;
          display: table;
    }

    img.filter {                        /* --- 在 4秒 second內完成 mymove 的漸進變動 --- */
        animation: mymove 4s infinite;
    }    
        @keyframes mymove {             /* --- 設定亮度及對比度 漸進變動 --- */
          80% {
            -webkit-filter: brightness(200%); 
            filter: brightness(200%);
          }
          100% {
            -webkit-filter: contrast(180%); 
            filter: contrast(180%);
          }
        }
    img.shadow:hover { 
      filter: drop-shadow( 10px 8px 12px black);
    }
    img.filter:hover {
      filter: drop-shadow( 8px 6px 8px black);
    }

p {
  text-indent : 25px ;
}

strong {
  color :rgb(0, 0, 150) ;
}

mark {
  color :rgb(0, 0, 150) ;
  background-color:rgb(220, 220, 220) ;
  font-weight: bold;
}

mark.red {
  color :red ;
}

.sideright {
  background-color: rgb(190, 200, 235);
  font-size: 105%;
  margin: 10px;
                  /* --- 兩個皆非floating in 文件Flow 相鄰的元素中的間隔, 只留margin最大的那一邊的長度 --- */
  margin-top: 0px;
  margin-right: 30px;
  border-radius: 8px;
  padding: 15px; 
                  /* --- 若其中有 floating 元素, 兩個相鄰的元素中的間隔, 是兩者的 margin 長度的加總 --- */
  float: right ;
  width: 280px;
                  /* --- clear: both /right --- */
  clear: right ;
}

.img_sidebar {
  margin: 10px;

  margin-top: 0px;
  margin-right: 30px;
  border-radius: 8px;

  float: right ;
  width: 310px;  /* ---  width: 280px + ( padding: 15px * 2 )  --- */
  clear: both; 
            
  opacity: 1.0;   /* --- transition: Change Several Property Values --- */
  transition: opacity 2s ease-in-out, width 3s ;
                  /* --- specifies the speed curve of the transition
                         effect with a slow start and end --- */
}
    .img_sidebar:hover { 
         opacity: 0.3;
         width: 300px;
    }

/* Create two unequal columns that floats next to each other */
.column {
  border-radius: 8px;
  box-sizing: border-box;
  float: left;
  padding: 10px;
}
 
/* Create two unequal left and right column */
.column.left {
  background-color: rgb(190, 200, 235);
  font-size: 95%;
  margin-top: 10px;
  width: 20%;
}
    .newpage {
      background-color: white;
      border-radius: 8px;
      padding: 5px;
      margin: 2px;
      display: none;
      text-align: center;

    /*  display: inline-block; */
    }
       
.column.right {
  width: 80%;
}

   #construction div.column.left {
      width: 30%;
   }
   #construction div.column.right {
      width: 70%;
   }

/* Clear floats after the columns */
.row:after {    /* --- adding something at the end of those selected element--- */
  content: "";
  display: table;
  clear: both;
}

/* --- Responsive layout - 
       makes the three columns stack on top of each other instead of next to each other 
   --- 
*/
@media (max-width: 700px) {
  
 body {
   font-size: 12px;
 }
 .base {
     margin:  5px 10px;
     border-radius: 5px;
 }
 #header {                  /* --- Center horizontally &  Vertically  --- */ 
  padding: 18px 0px;        /* --- Center Vertically - Using padding --- */
} 
 h2 {
     font-size: 200%; 
 }
      h2.hd {               /* --- h2, h3 <tag> is a block element by defualt ---*/
       display: block;      /* --- display: inline-block ; ---*/
      }
 
 h3 {
     font-size: 115%;  
 }
      h3.hd {               /* --- Left and Right Align - Using position --- */
       padding: 0px;        /* --- Center Vertically - Using padding --- */ 
       margin: 0px;             
      }
     
 .main {
       font-size: 100%;
       border-radius: 8px;
       padding: 5px;
       margin: 10px;
 }
    .column.right, .column.left {
        width: 100%;
    }
    #construction div.column.left {
        width: 100%;
    }
    #construction div.column.right {
        width: 100%;
    }

    #HTMLCSS div.column.left ul.sidebar {
        display: inline-block;
        margin-left: 5%;
        margin-right: 5% ;
    }
   
    #HTMLCSS div.column.left div.newpage {
        margin-left: 50px;
        margin-right: 10px;
        vertical-align:top ;
    }
   

}

/* --- Responsive layout - 
       @media screen and (max-width: 700px) { } 
       @media (max-width: 700px) { } 
   --- 
*/


  