
/* --- Responsive layout - 
       @media screen and (max-width: 700px) { } 
       @media (max-width: 700px) { } 
   --- 
*/

body {
 font-size: 12px;
}
.base {
    margin:  5px 10px;
    border-radius: 5px;
}
 
h2 {
    font-size: 170%; 
}
     h2.hd {                    /* --- h2, h3 <tag> is a block element by defualt ---*/
      display: block;        /* --- display: inline-block ; ---*/
     }

h3 {
    font-size: 115%;  
}
     h3.hd {                   /* --- Left and Right Align - Using position --- */
      padding-top: 3px;     /* --- Center Vertically - Using padding --- */                       
     }
    

.main {
      font-size: 100%;
      border-radius: 8px;
      padding: 5px;
      margin: 10px;
}

    #SD_bar1, #SD_bar2, #SD_bar5 {
       display: none;
    }

    .LF_main {
      margin-right: 10px;
    }

    .sideright.bar3 {
       box-sizing:content-box ;
       width: 95%;
       padding: 5px;
       margin: 10px 0px;
       margin-left: auto;
       margin-right: auto;
       float: none;
    }
    .main.bar3 {
       box-sizing:content-box ;
       width: 95%;
       padding: 5px;
       margin: 10px 0px;
       margin-left: auto;
       margin-right: auto;
    }

    .img_sidebar {
      margin-left: auto;
      margin-right: auto;
      padding: 5px;
      border-radius: 5px;
    
      float: none ;
      width: 94%;  /* ---  width: 280px + ( padding: 15px * 2 )  --- */
      clear: both;       
      opacity: 1.0;   /* --- transition: Change Several Property Values --- */
      transition: opacity 2s ease-in-out, width 3s ;
                      /* --- specifies the speed curve of the transition
                             effect with a slow start and end --- */
    }
        .img_sidebar:hover { 
          opacity: 0.3;
          width: 90%;
        }

    .column.right, .column.left {
        width: 100%;
    } 

@media (max-width: 600px) { 
    
    .list.column {
        padding-right: 15px;
        padding-left: 15px;
    }
   
    #footer p {
        text-indent: 10px;
    }
        #footer p a {
           font-size: 110%;
        }
    
    figcaption { 
        font-size: 110% ;
    }
    img.float_right {
        float: none; 
        padding: 5px 0px;
    }

} 
  